{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Location Selector</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "dist/css/b.css" %}">
</head>
<body>
    <div class="container">
    <select id="location_type">
        <option value="">Select a location type</option>
        <option value="country">Country</option>
        <option value="county">County</option>
        <option value="subcounty">subcounty</option>
        <option value="locationplace">Location</option>
        <option value="sublocation">Sublocation</option>
    </select>
    <select id="location">
    </select>
    <select id="child_location_type">
        <option value="">Specify location type</option>
        <option value="county">County</option>
        <option value="subcounty">subcounty</option>
        <option value="locationplace">Location</option>
        <option value="sublocation">Sublocation</option>
    </select>
    <button id="submit">Submit</button>
    <div id="result"></div>
    </div>

    <script>
        $(document).ready(function() {
            $('#location_type').change(function() {
                var location_type = $(this).val();
                var url = "{% url 'load_locations' %}";
                
                // populates the dropdown menu
                $.ajax({
                    url: url,
                    data: {
                        'location_type': location_type
                    },
                    success: function(data) {
                        var options = '<option value="">Select a ' + location_type + '</option>';
                        for (var i = 0; i < data.length; i++) {
                            options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                        }
                        $('#location').html(options);
                    }
                });
            });
        
            // Fetches data to display
            $('#submit').click(function() {
                var location_type = $('#child_location_type').val();
                var location_id = $('#location').val();
                var url = "{% url 'load_locations2' %}";
        
                $.ajax({
                    url: url,
                    data: {
                        'location_type': location_type,
                        'location_id': $('#location').val()
                    },
                    success: function(data) {
                        var result = 'The ' + location_type + 's in this ' + $('#location option:selected').text() + ' are: ';
                        for (var i = 0; i < data.length; i++) {
                            result += data[i].name + ', ';
                        }
                        result = result.slice(0, -2) + '.';
                        $('#result').html(result);
                    }
                });
            });
        });
        
    </script>
</body>
</html>
